# Cleaning Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DataFiles/Disability_and_Health_Data_System__DHDS__20241120.csv', index_col=False)
df.info()

/var/folders/0_/jyfznr0x5q53rj2pvwf26qbw0000gn/T/ipykernel_36051/2788160120.py:1: DtypeWarning: Columns (0,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('DataFiles/Disability_and_Health_Data_System__DHDS__20241120.csv', index_col=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751072 entries, 0 to 751071
Data columns (total 32 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Rowid                       621902 non-null  object
 1   Year                        751072 non-null  int64
 2   LocationAbbr                751072 non-null  object
 3   LocationDesc                751072 non-null  object
 4   DataSource                  751072 non-null  object
 5   Category                    751072 non-null  object
 6   Indicator                   751072 non-null  object
 7   Response                    740296 non-null  object
 8   Data_Value_Unit             751072 non-null  object
 9   Data_Value_Type             751072 non-null  object
 10  Data_Value                  674653 non-null  float64
 11  Data_Value_Alt              674653 non-null  float64
 12  Data_Value_Footnote_Symbol  76419 non-null   object
 13  Data_Value_Footnote         76419 non-null   object
 14  Low_Confidence_Limit        674653 non-null  float64
 15  High_Confidence_Limit       674653 non-null  float64
 16  Number                      674653 non-null  float64
 17  WeightedNumber              674653 non-null  float64
 18  StratificationCategory1     751072 non-null  object
 19  Stratification1             751072 non-null  object
 20  StratificationCategory2     475110 non-null  object
 21  Stratification2             475110 non-null  object
 22  CategoryID                  751072 non-null  object
 23  IndicatorID                 751072 non-null  object
 24  Geolocation                 161044 non-null  object
 25  LocationID                  751072 non-null  int64
 26  ResponseID                  751072 non-null  object
 27  DataValueTypeID             751072 non-null  object
 28  StratificationCategoryID1   751072 non-null  object
 29  StratificationID1           751072 non-null  object
 30  StratificationCategoryID2   475110 non-null  object
 31  StratificationID2           475110 non-null  object
dtypes: float64(6), int64(2), object(24)
memory usage: 183.4+ MB

## drop columns

In [97]:
# RowId, DataSource, Indicator, Data_Value_Footnote_Symbol, Data_Value_Footnote, Geolocation
df_n = df.drop(columns=['Rowid', 'DataSource', 'LocationDesc', 'Indicator', 'ResponseID', 'Data_Value_Unit', 'Data_Value_Alt', 'Data_Value_Type', 'Data_Value', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'Low_Confidence_Limit',
                        'High_Confidence_Limit', 'Number', 'WeightedNumber', 'CategoryID', 'Geolocation', 'DataValueTypeID', 'LocationID', 'StratificationCategoryID1', 'StratificationID1', 'StratificationCategoryID2', 'StratificationID2'])

In [98]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751072 entries, 0 to 751071
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Year                     751072 non-null  int64
 1   LocationAbbr             751072 non-null  object
 2   Category                 751072 non-null  object
 3   Response                 740296 non-null  object
 4   StratificationCategory1  751072 non-null  object
 5   Stratification1          751072 non-null  object
 6   StratificationCategory2  475110 non-null  object
 7   Stratification2          475110 non-null  object
 8   IndicatorID              751072 non-null  object
dtypes: int64(1), object(8)
memory usage: 51.6+ MB

In [99]:
df_n.sample(n=10, random_state=1)

,Year,LocationAbbr,Category,Response,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,IndicatorID
48151,2016,IN,Demographics,Widowed,Disability Type,Self-care Disability,NaN,NaN,MARRIED
693,2016,AR,Health Risks & Behaviors,Yes,Disability Status,No Disability,Sex,Male,QUITSMK
105060,2016,VI,Mental & Emotional Health,14+ Days,Disability Status,No Disability,Sex,Male,MHDAYS
307292,2019,PR,Mental & Emotional Health,14+ Days,Disability Type,Cognitive Disability,NaN,NaN,MHDAYS
206330,2017,SD,Chronic Conditions,No,Disability Status,No Disability,Race/Ethnicity,"White, non-Hispanic",OTHCAN
55632,2016,MA,Prevention & Screenings,No,Disability Status,Any Disability,Age Group,36-50,UTDCERV
696487,2022,TN,Prevention & Screenings,Yes,Disability Status,No Disability,NaN,NaN,FLUVAC
223369,2017,VA,Demographics,"$35,000 to <$50,000",Disability Type,Cognitive Disability,NaN,NaN,INCOMEN
741328,2022,PR,Mental & Emotional Health,No,Disability Status,Any Disability,Age Group,65+,DEPRESS
109925,2017,AL,Chronic Conditions,Yes,Disability Status,Any Disability,Age Group,18-44,COPD

In [100]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751072 entries, 0 to 751071
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Year                     751072 non-null  int64
 1   LocationAbbr             751072 non-null  object
 2   Category                 751072 non-null  object
 3   Response                 740296 non-null  object
 4   StratificationCategory1  751072 non-null  object
 5   Stratification1          751072 non-null  object
 6   StratificationCategory2  475110 non-null  object
 7   Stratification2          475110 non-null  object
 8   IndicatorID              751072 non-null  object
dtypes: int64(1), object(8)
memory usage: 51.6+ MB

In [101]:
df_n.to_csv('CleanData.csv', index=False)